.mainContent {
  overflow: hidden;
  transition: height 1s ease;
  height: 0;
  border-bottom: none;
}

/* Style da página "et cetera" */

.etcetera {
  max-width: 100%;
  padding: 10px 20px 0 20px;
  display: block;
  gap: 20px;
}

.etcetera h2 {
  max-width: 100%;
  padding: 10px 0 10px 0;
  font-size: 18px;
}

.etcetera p {
  line-height: 1.4;
  font-size: 15px;
  text-align: justify;
  margin-bottom: 10px;
}

.menuEtcetera {
  list-style: none;
  justify-content: space-around;
}

.menuEtcetera li {
  margin: 15px 0 13px 0;
}

.menuEtcetera-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menuEtcetera a {
  text-decoration: none;
  color: gray;
  font-size: 15px;
  position: relative;
  transition: color 0.5s ease;
  white-space: nowrap;
}

.menuEtcetera a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: width 0.5s ease;
}

.menuEtcetera a:hover {
  color: #000;
}

.menuEtcetera a:hover::after {
  width: 100%;
}

.menuEtcetera a.active {
  color: #000; /* Cor ativa */
}

.menuEtcetera a.active::after {
  width: 100%; /* Linha permanece quando o link está ativo */
}
